<!DOCTYPE html>
<html>
    {{>header}}
    <body>
        <h1>
            {{pageTitle}}
        </h1>
        <p>
            {{screamIt welcomeMessage}}
        </p>
        {{> footer}}
    </body>
</html>